// TODO: reorganize, split into separate .scss files, add reset.scss

// mixins //////////////////////////////////////////////////////////////////////
@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  -ms-appearance: $appearance;
  -o-appearance: $appearance;
  appearance: $appearance;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin user-select($select) {
  -webkit-touch-callout: $select;
  -webkit-user-select: $select;
  -khtml-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}


// colors //////////////////////////////////////////////////////////////////////
$background-neutral: #f1f1f1;
$foreground-neutral: #444444;
$emphasis-neutral: lighten($foreground-neutral, 50%);
$background-contrast: $foreground-neutral;
$foreground-contrast: $background-neutral;
$foreground-pop: $foreground-neutral;


// fonts ///////////////////////////////////////////////////////////////////////
$font-stack-header: "News Cycle", helvetica, sans-serif;
$font-stack-text: consolas, monospace;
$font-size-small: 13px;
$font-size-medium: 16px;
$font-size-large: 20px;


// spacing /////////////////////////////////////////////////////////////////////
$spacing-tiny: 6px;
$spacing-small: 8px;
$spacing-medium: 12px;
$spacing-large: 24px;


$item_width: 11.5em;

// styles //////////////////////////////////////////////////////////////////////
.left-indent {
  padding-left: $spacing-small;
}

.spacing-moderate {
  padding: $spacing-small;
}

// TODO: ORGANIZE
#controls {
  @include user-select(none);
  background: $background-neutral;
  color: $foreground-neutral;
  font: $font-size-medium $font-stack-text;
  height: 100%;
  
  input {
    @include appearance(none);
    @include border-radius(0);
  }
  
  input, a {
    box-shadow: none;
    outline: none;
  }
  
  label {
    display: inline-block;
    padding-right: $spacing-tiny;
    margin-bottom: $spacing-tiny;
  }
  
  label:not(:first-child) {
    margin-top: $spacing-small;
  }
  
  .header {
    @extend .left-indent, .spacing-moderate;
    background: $background-contrast;
    color: $foreground-contrast;
    font: $font-size-large $font-stack-header;
  }
  
  .control-group {
    @extend .left-indent, .spacing-moderate;
    
    .slider-group {
      .slider {
        width: 50%;
        display: inline-block;
      }
      
      .start {
        margin-left: $spacing-medium;
      }
      
      .start, .end {
        background: $background-neutral;
        border: none;
        font-size: $font-size-small;
        white-space: pre;
      }
    }
    
    ul {
      @extend .left-indent;
            
      label {
        text-align: right;
        width: 70%;
      }
    }
  }
  
  .fa-chevron-down {
    position: relative;
    left: -$spacing-large;
    z-index: 100;
  }
}

// further tweak jQuery UI slider styles
$slider_height: 0.6em;
$slider_handle_width: 0.8em;
$slider_handle_height: $slider_handle_width;

.ui-slider-horizontal {
  height: $slider_height;
  margin: 0 $spacing-small 0 $spacing-medium;
}

.ui-widget-content {
  border: 0;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -0.1em;
  left: 0.4em;
}

.ui-slider .ui-slider-handle {
  height: $slider_handle_height;
  width: $slider_handle_width;
}
