#main {
  position: absolute;
  height: 100%;
  width: 100%;
  
  .horizontal {
    position: absolute;
    left: 0;
    height: 100%;
    width: 80%;
  }
  
  .vertical {
    position: absolute;
    right: 0;
    height: 100%;
    width: 20%;
    max-width: 15em;
  }
}

#map {
  position: relative;
  width: 100%;
  height: 60%;
}

#detail {
  position: relative;
  width: 100%;
  height: 40%;
}
