.left-indent, #controls .header, #controls .control-group, #controls .control-group ul {
  padding-left: 8px; }

.spacing-moderate, #controls .header, #controls .control-group {
  padding: 8px; }

#controls {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #f1f1f1;
  color: #444444;
  font: 16px consolas, monospace;
  height: 100%; }
  #controls input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
  #controls input, #controls a {
    box-shadow: none;
    outline: none; }
  #controls label {
    display: inline-block;
    padding-right: 6px;
    margin-bottom: 6px; }
  #controls label:not(:first-child) {
    margin-top: 8px; }
  #controls .header {
    background: #444444;
    color: #f1f1f1;
    font: 20px "News Cycle", helvetica, sans-serif; }
  #controls .control-group .slider-group .slider {
    width: 50%;
    display: inline-block; }
  #controls .control-group .slider-group .start {
    margin-left: 12px; }
  #controls .control-group .slider-group .start, #controls .control-group .slider-group .end {
    background: #f1f1f1;
    border: none;
    font-size: 13px;
    white-space: pre; }
  #controls .control-group ul label {
    text-align: right;
    width: 70%; }
  #controls .fa-chevron-down {
    position: relative;
    left: -24px;
    z-index: 100; }

.ui-slider-horizontal {
  height: 0.6em;
  margin: 0 8px 0 12px; }

.ui-widget-content {
  border: 0; }

.ui-slider-horizontal .ui-slider-handle {
  top: -0.1em;
  left: 0.4em; }

.ui-slider .ui-slider-handle {
  height: 0.8em;
  width: 0.8em; }
