#overlay {
	width:100%; 
	height: 100%; 
	position:absolute; 
	top:0; 
	left: 0; 
	background-color:#111; 
	z-index:2000;
}

#overlay img {
	position: absolute; 
	top: 50%; 
	left:50%; 
	margin: -135px 0 0 -140px; 
	z-index:2001;
}

#info-overlay {
	position: absolute;
	top:10px;
	left: 10px;
	z-index: 1000;
	background-color: #FBFFCB;
	padding: 9px 18px;
	box-shadow: 0 5px 5px -3px black;
	border-radius: 20px/60px;
	color: black;
	opacity: 0.9;
	font-family: 'Trebuchet MS', sans-serif;
}

#info-overlay:hover {
	opacity: 1;
}

#info-overlay p {
	padding: 3px 0;
	margin: 0;
}
