html, body,
div, span,
canvas,
h1, h2, h3, h4, h5, h6,
p, a,
ol, ul, li,
table, thead, tbody, tr, th, td,
form, fieldset, input, label,
b, i, em, strong {
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
